---
import HeaderLink from "./HeaderLink.astro";
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
---

{config.customCSS &&
  <style set:html={config.customCSS}>
  </style>
}
<header class="border-t-4 border-primary">
  <div class="container pt-6 max-md:pb-2 flex items-end gap-8">

    <a href="/">
     	<img class="w-32 md:w-40" src="/logo.jpg" alt="">
		</a>

		<div class="space-y-5 pb-2">
      <!-- <div class="flex items-center gap-8  max-lg:hidden">
    		<h1 class="text-2xl">EnviroPlus Consulting, LLC </h1>
      </div> -->
     	<nav>
    		<div class="flex gap-6 items-center max-lg:hidden">
   			{
    				config.nav.map((nav) => (
   					<HeaderLink href={nav.link}>{nav.title}</HeaderLink>
    				))
   			}

    		</div>
     	</nav>
    </div>

    <button id="sidebar-toggle" class="ml-auto lg:hidden cursor-pointer border py-1 px-1 rounded border-black/10">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
    </button>

    <div id="sidebar-menu" class="fixed translate-x-full z-20 inset-0 bg-white/50 group [&.open]:translate-x-0">

      <div class="z-10 translate-x-full transition-transform duration-300 absolute right-0 shadow top-0 bottom-0 bg-white px-5 py-6 w-sm max-w-[90vw]! group-[.open]:translate-x-0">
      		<div class="flex flex-col gap-6 justify-center ">
     			{
      				config.nav.map((nav) => (
     					<HeaderLink href={nav.link}>{nav.title}</HeaderLink>
      				))
     			}
      		</div>
      </div>
    </div>
  	<!-- <div class="flex items-center gap-4">
  		{
  			config?.contactLinks?.map((link) => {
  				return (
  					<IconLink {...link} />
  				);
  			})
  		}
  	</div> -->
  </div>
</header>

<script>
  const toggle = document.getElementById('sidebar-toggle')
  const menu = document.getElementById('sidebar-menu')

  toggle.addEventListener('click', (e) => {
    menu.classList.add('open')
  })

  menu.addEventListener('click', e => {
    if (e.target === menu) menu.classList.remove('open')
  })
</script>
